// media queries
$screen-md: 1024;
$screen-lg: 1270;

$brand-green: #32db8a;
$brand-orange: #ffba42;
$brand-pink: #e64b77;
$brand-blue: #4C9EE7;

$font-white: #fff;
$font-black: #23214c;

$font-family-heading: 'Montserrat', sans-serif;
$font-family-content: 'Roboto', sans-serif;