@import '../../styles/base/variables';

#section-videos {
  background: $brand-purple;
  background-image: url('/assets/images/background_img_04.jpg');
  background-size: cover;
  background-position: top center;
  
  .container-md-70 {
    .text-container {
      background: white;
      color: $brand-purple;
      padding: 30px 15px;
      position: relative;
      overflow: hidden;
      
      h3 {
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
        
        @media(min-width: $screen-md) {
          position: relative;
          top: -165px;
          margin-bottom: -165px;
          font-size: 190px;
        }
      }
      
      .text-block {
        margin-bottom: 30px;
        strong.block {
          display: block;
          margin-bottom: 5px;
          width: 100%;
          
          @media(min-width: $screen-md) {
            margin-top: 25px;
          }   
        }

        span {
          display: block;
          font-weight: lighter;
          margin-bottom: 45px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }

        span.orange {
          color: $brand-orange;
        }

        p {
          line-height: 1.65;
          strong.orange {
            color: $brand-orange;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        @media(min-width: $screen-md) {
          padding-right: 55px;
        }
      }

      @media(min-width: $screen-md) {
        padding: 55px;
      }
    }

    .image-container {
      position: relative;

      > .icon-navigation-right {
        position: absolute;
        top: 20px;
        left: 20px;
      }

      img {
        height: 100%;
      }

      &.image-container-md-45 {
        > .icon-navigation-right {
          position: absolute;
          top: auto;
          bottom: 20px;
          left: 20px;
        }
      }
    }
  }
}