@import '../../styles/base/variables';

:host {
  > .container {
    padding-top: 56px;

    @media(min-width: $screen-md) {
      padding-top: 64px;
    }
  }
  #portfolio,
  #about,
  #news,
  #video,
  #skills,
  #contact {
    min-height: 100vh;
  }
}