<div class="container">
  <div id="home">
    <app-section-intro></app-section-intro>
  </div>
  <div id="services">
    <app-section-services></app-section-services>
  </div>
  <div id="portfolio">
    <app-section-portfolio></app-section-portfolio>
  </div>
  <div id="about">
    <app-section-about></app-section-about>
  </div>
  <div id="news">
    <app-section-news></app-section-news>
  </div>
  <div id="video">
    <app-section-videos></app-section-videos>
  </div>
  <div id="skills">
    <app-section-skills></app-section-skills>
  </div>
  <div id="contact">
      <app-section-contact></app-section-contact>
  </div>
  <app-footer></app-footer>
</div>
