<div id="section-news">
  <div class="content">
    <div class="row">
      <div class="container container-md-70 offset-top">
        <div class="list-container">
          <div class="list-item">
            <div class="number-container">
              <p>01</p>
            </div>
            <div class="title-container">
              <p>Robert Williams</p>
              <span class="pink">BRANDING</span>
            </div>
            <div class="description-container">
              <p>Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</p>
            </div>
          </div>
          <div class="list-item">
            <div class="number-container">
              <p>02</p>
            </div>
            <div class="title-container">
              <p>Jim Davis</p>
              <span class="pink">TECH</span>
            </div>
            <div class="description-container">
              <p>Incididunt ut dolore magna labore eiusmod lorem ipsum dolor sit</p>
            </div>
          </div>
          <div class="list-item">
            <div class="number-container">
              <p>03</p>
            </div>
            <div class="title-container">
              <p>Ann Peterson</p>
              <span class="pink">CRAFTING</span>
            </div>
            <div class="description-container">
              <p>Labore eiusmod lorem ipsum dolor sit amet nunc labore incididunt ut dolore</p>
            </div>
          </div>
          <div class="list-item">
            <div class="number-container">
              <p>04</p>
            </div>
            <div class="title-container">
              <p>Robert Williams</p>
              <span class="pink">CRAFTING</span>
            </div>
            <div class="description-container">
              <p>Dolor sit amet nunc labore incididunt ut dolore magna labore eiusmod</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-md-30">
        <div class="section-header section-header-green">
          <p>04</p>
          <h2>Stories</h2>
        </div>
      </div>
    </div>
    <div id="quote-container">
      <div class="text-body">
        <p>{{quotes[quoteIndex].text}}</p>
      </div>
      <div class="text-title">
        <p>{{quotes[quoteIndex].author}}</p>
      </div>
      <div class="icon icon-navigation-right" (click)="nextQuote()"></div>
    </div>
  </div>
</div>