<div id="section-services" class="section-container">
  <div class="content">
    <div class="row">
      <div class="container container-md-30">
        <div class="section-header section-header-green">
          <p>01</p>
          <h2>Services</h2>
          <div class="icon icon-navigation-right"></div>
        </div>
      </div>
      <div class="container container-md-70 offset-top">
        <div id="services-container" class="text-container text-container-white">
          <div class="icon icon-navigation-right" (click)="nextServices()"></div>
          <div class="text-block" *ngFor="let service of servicesSubset">
            <div class="{{service.icon}}"></div>
            <h3>{{service.label}}</h3>
            <p>{{service.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>