@import '../../styles/base/variables';

#section-portfolio {
  background: $brand-purple;
  background-image: url('/assets/images/background_img_02.jpg');
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  padding-bottom: 160px;
  
  .container-md-30 {
    order: 0;
    @media(min-width: $screen-md) {
      order: 1;
    }

    .section-header {
      position: sticky;
      top: 64px;
    }
  }

  .container-offset-50 {
    width: 100%;
    .load-more-container {
      background: $brand-pink;
      color: white;
      cursor: pointer;
      padding: 20px 0;
      text-align: center;

      p {
        text-transform: uppercase;
        font-size: 22px;
        font-family: $font-family-heading;
        margin: 0 0 15px 0;
        width: 100%
      }

      .icon-infinity {
        width: 55px;
        height: 30px;
        margin: 0 auto;
      }
    }

    @media(min-width: $screen-md) {
      margin-left: 50%;
      width: 50%;
    }
  }

  .container-md-70 {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    .image-container {
      cursor: pointer;
      position: relative;

      .overlay {
        display: none;
      }

      @media(min-width: $screen-md) {
        .overlay {
          background: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: 0.3s ease opacity;
          opacity: 0;
          top: 30px;
          left: 30px;
          right: 30px;
          bottom: 30px;

          img {
            width: 35px;
            height: 35px;
            margin-bottom: 15px;
          }

          strong {
            font-size: 22px;
            font-family: $font-family-heading;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          p {
            color: #777;
          }
        }
        &:hover {
          .overlay {
            opacity: 1;
          }
        }
      }
    }

    @media(min-width: $screen-md) {
      order: 0;
    }
  }

  @media(min-width: $screen-md) {
    padding-bottom: 0;
  }
}