<div id="section-portfolio">
  <div class="content">
    <div class="row">
      <div class="container container-md-70 offset-top">
        <div class="image-container" routerLink="/work/example">
          <div class="overlay">
            <img src="/assets/icons/icon_post.svg">
            <strong>PSD Mockup</strong>
            <p>Smart Watch</p>
          </div>
          <img src="/assets/images/portfolio_item_01.jpg">
        </div>
        <div class="image-container image-container-50" routerLink="/work/example">
          <div class="overlay">
            <img src="/assets/icons/icon_post.svg">
            <strong>PSD Mockup</strong>
            <p>Smart Watch</p>
          </div>
          <img src="/assets/images/portfolio_item_02.jpg">
        </div>
        <div class="image-container image-container-50" routerLink="/work/example">
          <div class="overlay">
            <img src="/assets/icons/icon_post.svg">
            <strong>PSD Mockup</strong>
            <p>Smart Watch</p>
          </div>
          <img src="/assets/images/portfolio_item_08.jpg">
        </div>
        <div class="image-container" routerLink="/work/example">
          <div class="overlay">
            <img src="/assets/icons/icon_post.svg">
            <strong>PSD Mockup</strong>
            <p>Smart Watch</p>
          </div>
          <img src="/assets/images/portfolio_item_05.jpg">
        </div>
        <div class="contaier container-offset-50">
          <div class="load-more-container">
            <p>Load more</p>
            <div class="icon icon-infinity"></div>
          </div>
        </div>
      </div>
      <div class="container container-md-30">
        <div class="section-header section-header-orange">
          <p>02</p>
          <h2>Portfolio</h2>
        </div>
      </div>
    </div>
  </div>
</div>