// media queries
$screen-sm: 350px;
$screen-md: 1024px;
$screen-lg: 1270px;

$brand-green: #32db8a;
$brand-orange: #ffba42;
$brand-pink: #e64b77;
$brand-blue: #4C9EE7;
$brand-purple: #221C5A;

$font-white: #fff;
$font-purple: #23214c;

$font-family-heading: 'Montserrat', sans-serif;
$font-family-content: 'Roboto', sans-serif;